/*  Selector Universal */

* {
    padding: 0 auto;
    margin: 0 auto;
}

/*  Selector ID */

#contenedor {
    width: 1200px;
    height: 1000px;
    background-image: url(/img/fondo.jpg);
    max-width: 0 auto;
}

#encabezado {
    height: 15%;
    background-image: url(/img/header.jpg);
    margin: 1em auto;
}

#menu {
    height: 5%;
    width: 99%;
    background-color: #fda41e;
    border: 2px solid #323232;
    border-radius: 10px;
    margin: 1em auto;
}

#seccion {
    width: 61%;
    height: 70%;
    background-color:rgb(26,26,26);
    margin: 0.5em;
    float: left;
    border: 3px solid crimson;
}

#fueraSeccion {
    height: 70%;
    width: 35%;
    background-color: #2d2d2d;
    margin: 0.5em;
    float: right;
    border: 3px solid crimson;
}

#pie {
    height: 5%;
    background-color: rgb(160, 160, 160);
    border: solid 1px black;
    border-radius: 1em;
    margin: 1.5em;
    text-align: center;
    font-family: Tahoma, sans-serif;
}

/* Selector de clase */

.texto {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(230,226,224);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.encabezado_articulo {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    background: #fec356;
    color: crimson;
    margin: auto 2px;
    margin-top: 2px;
}

.imagenes {
    display: block;
    border: 1px solid crimson;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 150px;
}

.listah {
    text-decoration: none;
    text-shadow: 0px 2px 2px  crimson;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

.listah:hover {
    color: white;
}

.listav {
    text-decoration: none;
    color: yellow;
    text-shadow: 4px 4px 2px rgb(14, 14, 14);
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    width: 100%;
    height: 50px;
}

.listav:hover {
    color: white;
}

.pad-top {
    padding-top: 50px;
}

.nombre_pagina {
    padding-top: 18px;
    text-align: center;
    color: crimson;
    text-shadow: 0px 1px 4px black;
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
}
/* Selector de etiqueta */

ul {
    text-align: center;
}

li {
    display: inline-block;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 10px;
}